<% content_for :title, "Nos architectes" %>
<% content_for :meta_description, "liste complète de nos architectes ainsi avec une option de filtrage en fonction de la spécialité" %>

<div class="container mt-5 mb-5 px-4">
  <p style="color: #618866"><%= notice %></p>

  <h1 class="mt-100 mb-5">Nos architectes</h1>

  <div class="mb-4 d-flex align-items-center gap-3">
    <button id="toggle-filter-btn" class="btn btn-primary">Filtrer</button>
  </div>

  <div id="filter-form-container" class="<%= params[:specialization_id].present? ? '' : 'd-none'%>">
    <div class="card p-5 me-5 mb-5">
      <%= form_with url: architects_path, method: :get, local: true do |f| %>
        <div class="d-flex align-items-center gap-3">
          <%= f.label :specialization_id, "Filtrer par spécialité", class: "form-label mb-0" %>
          <%= f.select :specialization_id, options_from_collection_for_select(Specialization.all, :id, :name, params[:specialization_id]), { include_blank: "Toutes les spécialités" }, class: "form-select" %>
          <%= f.submit "Appliquer", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-start gap-3">
    <% @architects.each do |architect| %>
      <div class="custom-card me-3 mb-4">

        <% multimedia = architect.projects.flat_map(&:multimedias).first %>

        <% if multimedia&.file&.attached? %>
          <%= image_tag url_for(multimedia.file), class: "card-image" %>
        <% else %>
          <%= image_tag "placeholder.jpg", class: "card-image" %>
        <% end %>

        <div class="card-body">

          <h6 class="card-name"><%= architect.user.fullname %></h6>
          <p><%= truncate(architect.description, length: 80) %></p>
          
          <%= render 'shared/favorites_button', architect: architect %>
          
          <%= link_to "Voir plus", architect_path(architect), class: "btn btn-primary" %>
            
        </div>
      </div>
    <% end %>
  </div>
</div>

