<p style="color: green"><%= notice %></p>

<% content_for :title, "Architects" %>

<h1>Nos architectes</h1>

<div id="architects">
  <% @architects.each do |architect| %>
    <%= render architect %>
    <%= architect.user.first_name%> <br>
    <%= truncate(architect.description, length: 100)%>
    <p>
      <%= button_to "Voir plus", architect %>
    </p>
  <% end %>
</div>

