<p style="color: green"><%= notice %></p>

<% content_for :title, "Architects" %>

<h1>Nos architectes</h1>

<div id="architects">
  <%= turbo_frame_tag "architects" do %>
    <% @architects.each do |architect| %>
      <%= render architect %>
      <%= architect.user.fullname%> <br>
      <%= truncate(architect.description, length: 100)%>
      <p>
        <%= button_to "Voir plus", architect %>
      </p>
    <% end %>
  <% end %>
</div>

