<div class="container mt-5 mb-5">
  <p style="color: #618866"><%= notice %></p>

  

  <!-- <div>
    <%= link_to "Edit this architect", edit_architect_path(@architect) %> |
    <%= link_to "Back to architects", architects_path %>
    <%= button_to "Destroy this architect", @architect, method: :delete %>
  </div> -->

  <section>
  <%= render 'shared/show_architect' %>
  <%= render 'shared/architect_projects' %>
  </section>
</div>
