<h1><%= current_user.first_name%></h1>

<!--info user en fonction du rôle-->
<% if current_user.role == "architect"%>
  <% current_user.architect.specializations.each do |specialization|%>
    <%=specialization.name %>
    <%end%>
<%end%>

<%=current_user.email%> <br>
<%=current_user.city%><br>
<%=current_user.role%><br>

<% if current_user.role == "architect"%>
  <%= current_user.architect.degree_name%><br>
  <%= current_user.architect.description%>
  
<%end%>


<!--avatar actuel-->
<%if current_user.avatar.attached?%>
  <%= image_tag current_user.avatar, alt: 'avatar' %>
<%else%>
  <p>=== Ajouter image avatar ===</p>
<%end%>

<!--bouton ajout/modification photo : display: none pour écraser "choisir un fichier" dans le bouton par défaut-->
<%= form_tag user_avatars_path(current_user), multipart: true do %>
    <label for="avatar_input" class="custom-file-button">Modifier la photo</label>
  <%= file_field_tag :avatar, id: "avatar_input", style: "display: none;"%>

  <%= submit_tag "mettre à jour", id: "submit_button", style: "display: none;" %>
<% end %>

<!--modifier ou supprimer son compte-->
<%= link_to "Modifier", edit_user_registration_path %>

<%= form_with url: user_registration_path, method: :delete, local: true do %>
  <%= submit_tag "Supprimer mon compte", data: { confirm: "Êtes-vous sûr de vouloir supprimer votre compte ?" } %>
<% end %>



<h3> Projets en cours </h3>
<% current_user.projects.each do |project|%>
<%if project.status == "en_cours"%>
  <%= project.description%>
  <%end%>
<%end%>

<h3> Historique des projets </h3>

<% current_user.projects.each do |project|%>
<%if project.status == "terminé"%>
  <%= project.description%>
  <%end%>
<%end%>

<h3> Portfolio</h3>
<%current_user.architect.portfolios.sample(rand(3)).each do |project|%>
<%=project.project_title%><br>
<%= truncate(project.project_description, length: 100)%>
<%end%>




<!-- JS pour afficher le bouton "mettre à jour" seulement lorsqu'un fichier est chargé-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let fileInput = document.getElementById("avatar_input");
    let submitButton = document.getElementById("submit_button");

    fileInput.addEventListener("change", function () {
      if (fileInput.files.length > 0) {
        submitButton.style.display = "inline-block";
      } else {
        submitButton.style.display = "none";
      }
    });
  });
</script>


