<h1><%= @user.first_name%></h1>

<!--avatar actuel-->
<%if @user.avatar.attached?%>
  <%= image_tag @user.avatar, alt: 'avatar' %>
<%else%>
  <p>=== Ajouter image avatar ===</p>
<%end%>


<%= form_tag user_avatars_path(@user), multipart: true do %>
    <label for="avatar_input" class="custom-file-button">Modifier la photo</label>
  <%= file_field_tag :avatar, id: "avatar_input", style: "display: none;"%>

  <%= submit_tag "mettre à jour", id: "submit_button", style: "display: none;" %>
<% end %>



<script>
  document.addEventListener("DOMContentLoaded", function () {
    const fileInput = document.getElementById("avatar_input");
    const submitButton = document.getElementById("submit_button");

    fileInput.addEventListener("change", function () {
      if (fileInput.files.length > 0) {
        submitButton.style.display = "inline-block";
      } else {
        submitButton.style.display = "none";
      }
    });
  });
</script>


