<h2>Projets</h2>

<% if @architect.projects.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Date de début</th>
        <th>Description</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @architect.projects.each do |project| %>
        <tr>
          <td><%= image_tag(project.random_project_image, alt: "Image du projet", style: "width: 100px; height: 70px; object-fit: cover;") %></td>
          <td><%= project.start_date %></td>
          <td><%= project.description %></td>
          <td><%= project.status %></td>
          <td><%= link_to 'Voir le projet', project_path(project), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="text-muted">Aucun projet pour cet architecte.</p>
<% end %>
