<h1 class="mt-100 mb-5"><%= @architect.fullname %></h1>
<div class="card p-2 p-md-5 mb-5">
  <div class="d-flex flex-column flex-md-row align-items-start gap-4 w-100">
    <% if @architect.user&.avatar&.attached? %>
      <%= image_tag url_for(@architect.user.avatar), class: "avatar" %>
    <% else %>
      <%= image_tag "default-avatar.jpg", class: "avatar" %>
    <% end %>

    <div class="container-fluid w-100 w-md-auto">
  
      <ul class="list-unstyled">
        <% @architect.specializations.each do |specialization| %>
          <li class="lead">Achitecture <%= specialization.name %></li>
        <% end %>
      </ul>

      <!-- Ville et département -->
      <% if @architect.user && @architect.user.city %>
        <p><%= @architect.user.city.name %> (<%= @architect.user.city.zip_code %>)</p>
        <p>Département: <%= @architect.user.city.department %></p>
      <% else %>
        <p>Aucune ville renseignée</p>
      <% end %>

      
      <h4>Diplômes</h4>
      <%= render 'shared/architect_degrees' %>

     
      <h4>Description</h4>
      <p><%= @architect.description %></p>
      <div class="d-flex gap-3 mt-4">
        <%= link_to 'Contacter', new_project_path(architect_id: @architect.id), class: "btn btn-primary" %>
        <% if current_user.role == "client"%>
          <%= render 'shared/favorites_button', architect: @architect %>
        <%end%>
      </div>
    </div>
  </div>
</div>


