  <h2><%= @architect.fullname %></h2>

  <%= image_tag "https://img.freepik.com/photos-gratuite/avatar-androgyne-personne-queer-non-binaire_23-2151100226.jpg", style:"width: 10rem; border-radius: 50%;"%>

  <h2>Spécialités</h2>
  <ul>
    <% @architect.specializations.each do |specialization| %>
      <li><%= specialization.name %></li>
    <% end %>
  </ul>

  <h2>Ville: </h2>
  <% if @architect.user %>
    <p><%= @architect.user.city.name %> (<%= @architect.user.city.zip_code %>)</p>
    <p>Département: <%= @architect.user.city.department %></p>
  <% else %>
    <p>Aucune ville renseignée</p>
  <% end %>

  <h2>Diplomes</h2>
  <%= render 'shared/architect_degrees' %>

  <h2>Description</h2>
  <p><%= @architect.description %></p>
  <p><%= render 'shared/ratings' %></p>

  <%= link_to 'Contacter', new_project_path, class: "btn btn-more" %>
  


