<div class="card position-relative m-3 m-md-5 p-2 p-md-5">
  <%= form_with(model: project) do |form| %>
    <% if project.errors.any? %>
      <div style="color: #916868">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
          <% project.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="m-5">
      <div class="field">
        <%= form.label :architect_id, "Architecte", class: "form-label" %>
        <p class="form-control"><%= project.architect&.user&.fullname || "Architecte inconnu" %></p>
        <%= form.hidden_field :architect_id %>
      </div>
    </div>

    <div class="m-5">
      <div class="field">
        <%= form.label :title, class: "form-label" %><br>
        <%= form.text_field :title, class: "form-control" %>
      </div>
    </div>

    <div class="m-5">
      <div class="field">
        <%= form.label :start_date, class: "form-label" %><br>
        <%= form.date_field :start_date %>
      </div>
    </div>

    <div class="m-5">
      <div class="field">
        <%= form.label :description %><br>
        <%= form.text_area :description, class:"form-control" %>
      </div>
    </div>

    <div class="d-flex flex-column align-items-center">
      <div>
        <%= form.submit "Contacter", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

            <!-- Média deja ajouté -->
            <% if project.multimedias.any? %>
              <div class="row mb-3 mt-3">
                <% project.multimedias.each do |media| %>
                  <% if media.file.attached? %>
                    <div class="col-6 col-md-4 mb-2">
                      <%= image_tag media.file, class: "img-fluid" %>
                      <% if media.description.present? %>
                        <p class="small text-muted mt-1"><%= media.description %></p>
                      <% end %>
                      <%= button_to "Supprimer", multimedia_path(media), method: :delete, data: { confirm: "Es-tu sûr de vouloir supprimer ce média ?" }, class: "btn btn-danger btn-sm mt-2" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <p class="text-muted">Aucune image pour ce projet.</p>
            <% end %>

            <hr>
            <!-- Formulaire d'ajout multimedia -->
             <div class="mt-2">
              <h5 class="mb-4">Ajouter un media au projet</h5>

              <%= form_with model: Multimedia.new, url: multimedias_path, local: true, html: { multipart: true } do |form| %>
                <%= form.hidden_field :project_id, value: project.id %>

                <div class="mb-3">
                  <%= form.label :description, "Description de l'image" %>
                  <%= form.text_field :description, class: "form-control" %>
                </div>

                <div class="mb-3">
                  <%= form.label :file, "Image / Vidéo" %>
                  <%= form.file_field :file, class: "form-control" %>
                </div>

                <%= form.submit "Ajouter un média", class: "btn btn-primary btn-sm" %>
              <% end %>
            </div>

