<div id="<%= dom_id project %>">
</div>
<h1>Titre du projet <h1>
<p> <%= @project.start_date%>
<p> <%= @project.architect.user.first_name%> </p>
<p> <%= @project.architect.user.last_name%> </p>
<p> <%= @project.description%></p>
<p> <%= @project.status%> <p>

