<% content_for :title, "Modifier ton projet" %>
<% content_for :meta_description, "Page de modification du projet envoyé" %>

<div class="container mt-100 mb-5">
  <% content_for :title, "Editing project" %>

  <h1 class="mb-5">Modifier le projet</h1>

  <%= render "form", project: @project %>

  <h1 class="mb-5">Média</h1>

  <!-- Média déjà ajouté -->
  <div class="card m-3 m-md-5 p-3 p-md-5">
    <% if @project.multimedias.any? %>
      <div class="row mb-3 mt-3">
        <% @project.multimedias.each do |media| %>
          <% if media.file.attached? %>
            <div class="col-6 col-md-4 mb-2">
              <%= image_tag media.file, class: "img-fluid" %>
              <% if media.description.present? %>
                <p class="small text-muted mt-1"><%= media.description %></p>
              <% end %>
              <%= button_to "Supprimer", multimedia_path(media), method: :delete, data: { confirm: "Es-tu sûr de vouloir supprimer ce média ?" }, class: "btn btn-danger btn-sm mt-2" %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <p class="text-muted">Aucune image pour ce projet.</p>
    <% end %>

    <hr>
    <!-- Formulaire d'ajout multimédia -->
      <div class="mt-2">
      <h5 class="mb-4">Ajouter un media au projet</h5>

      <%= form_with model: Multimedia.new, url: multimedias_path, local: true, html: { multipart: true } do |form| %>
        <%= form.hidden_field :project_id, value: @project.id %> 

        <div class="mb-3">
          <%= form.label :description, "Description de l'image" %>
          <%= form.text_field :description, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :file, "Image / Vidéo" %>
          <%= form.file_field :file, class: "form-control" %>
        </div>

        <%= form.submit "Ajouter un média", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    </div>

  <div class="d-flex gap-3 mt-4">
    <%= link_to "Retour", user_path(current_user), class: "btn btn-primary" %>
  </div>
</div>
