<nav>
  <div class="d-flex justify-content-between align-items-center w-100">

    <!-- Liens de navigation principaux -->
    <ul class="list-unstyled d-flex gap-4 px-4 py-2 mb-0">
      <li><%= link_to 'TTA', root_path %></li>
      <li><%= link_to 'Architecte', architects_path %></li>
      <li><%= link_to "Architecte d'intérieur", architects_path(specialization_id: 2) %></li>
      <li><%= link_to "Architecte paysagiste", architects_path(specialization_id: 3) %></li>
    </ul>

    <!-- Menu utilisateur -->
    <ul class="list-unstyled d-flex gap-4 px-4 py-2 mb-0 align-items-center">

      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <iconify-icon icon="bxs:user" width="24" height="24"></iconify-icon>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUserDropdown">
            <li><%= link_to "Mon profil", user_path(current_user), class: "dropdown-item" %></li>
            <li>
              <%= form_with url: destroy_user_session_path, method: :delete, local: true do %>
                <%= submit_tag "Déconnexion", class: "dropdown-item btn btn-link btn-sm", data: { turbo: false } %>
              <% end %>
            </li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarGuestDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <iconify-icon icon="bxs:user" width="24" height="24"></iconify-icon>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarGuestDropdown">
            <li><%= link_to "Connexion", new_user_session_path, class: "dropdown-item" %></li>
            <li><%= link_to "Inscription", new_user_registration_path, class: "dropdown-item" %></li>
          </ul>
        </li>
      <% end %>
      <li>
        <a href="#">
          <iconify-icon icon="fluent:heart-32-filled" width="24" height="24"></iconify-icon>
        </a>
      </li>

    </ul>
  </div>
</nav>
